{% extends "store/main.html" %}
{% load static %}
{% block content %}
    <h3>Checkout</h3>
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" name="name" placeholder="Name..." type="text">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" name="email" placeholder="Email..." type="email">
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>

                    </div>

                    <hr>
                    <input type="submit" id="form-button" class="btn btn-success btn-block"  value="Continue">
                </form>

            </div>
            <br>

            <div class="box-element hidden" id="payment-info">
                <small>Paypal</small>
                <button id="make-payment">Make Payment</button>
                <!-- <div id="paypal-button-container"></div> -->
                
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                 <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190;Back To Cart</a>
                 <hr>
                 <h3>Order Summary</h3>
                 <hr>
                {% for item in allOrder %}
                    <div class="cart-row">
                        <div style="flex: 2;"><img class="row-image" src="{{item.product.imageUrl}}" alt=""></div>
                        <div style="flex: 2;">{{item.product.name}}</div>
                        <div style="flex: 1;">${{item.product.price|floatformat:2}}</div>
                        <div style="flex: 1;">x{{item.quantity}}</div>
                    
                    </div>
                {% endfor %}
                
                <h5>Items: {{order.get_total_item}}</h5>
                <h5>Total: ${{order.get_total_price|floatformat:2}}</h5>

            </div>
        </div>
    </div>
    
    <!-- Include the PayPal JavaScript SDK -->
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD&disable-funding=credit,card"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        var total = "{{order.get_total_proce}}"
        paypal.Buttons({
            style:{
                color:"blue",
                shape: "pill"
            },
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    submitFormData()
                });
            }
        }).render('#paypal-button-container');
    </script> -->

    <script>
        const shipping_ = "{{order.shipping}}"
        const form_ = document.getElementById("form")
        const total_price = "{{order.get_total_price}}"

        if (shipping_ == "False"){
            document.getElementById("shipping-info").innerHTML = ""
        }
        // trigger when submited
        form_.addEventListener("submit" , function (e) {
            e.preventDefault()
            console.log("submited");
            document.getElementById("form-button").classList.add("hidden")
            document.getElementById("payment-info").classList.remove("hidden")
        })

        // triggers after submition
        
        document.getElementById("make-payment").addEventListener("click" , function() {
            submitFormData()
        })

        
        function submitFormData() {
            console.log("pyment completed");

            // user data
            let user_form_data = {
                "name": null,
                "email": null, 
                "total": total_price,
            }

            // shipping address
            let shippingInfo = {
                "address": null,
                "city": null, 
                "state": null,
                "zipcode": null,
            }

            // if need to ship
            if(shipping_ != "False"){
                shippingInfo.address = form_.address.value
                shippingInfo.city = form_.city.value
                shippingInfo.state = form_.state.value
                shippingInfo.zipcode = form_.zipcode.value

            }
            
            // getting data if user is anonymous
            if(user == "AnonymousUser"){
                user_form_data.name = form_.name.value
                user_form_data.email = form_.email.value
            }

            
            
            
            
            const URL = "/process_order/"
            fetch(URL , {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({"UserData":user_form_data , "shippingInfo":shippingInfo})
            })
            .then(request=> request.json())
            .then(data=>{
                console.log(data)
                alert("Transaction Complete")
                cart = {}
                document.cookie = "cart="+JSON.stringify(cart)+";domain=;path=/"
                window.location.href = "{% url 'store' %}"
            })


            // function end
        }



        
        // when to form activate
        if(user!="AnonymousUser"){
            document.getElementById("user-info").innerHTML = ""

        }
        // not Anonymous
        if(user != "AnonymousUser" && shipping_ == "False"){
            document.getElementById("form-wrapper").classList.add("hidden")
            document.getElementById("payment-info").classList.remove("hidden")
        }
        

    </script>
{% endblock %}