{% extends "store/main.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block content %}
    <h3>Store</h3>
    <div class="row">
        {% for item in items %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ item.imageUrl}}" alt="">
                <div class="box-element product">
                    <h6><strong>{{item.name}}</strong></h6>
                    <hr>
                    <button  class="btn btn-outline-secondary add-btn update-btn" data-productid="{{item.id}}" data-action="add">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right;"><strong>${{ item.price|floatformat:2 }}</strong></h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
    